<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Webrat</string>
	<key>uuid</key>
	<string>7A1D88BC-52FA-45CD-95D2-665B89F78481</string>
</dict>
</plist>
